# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.pyre/

# Virtual environments
.venv/
.venv-mlflow/
venv/

# Python packages
*.egg-info/

# Environment
.env

# MLflow
mlruns/
mlartifacts/
mlflow.db
confusion_matrix_*.png

# Data & Models
data/*.csv
data/*.parquet
models/*.pkl
models/*.joblib

# DVC
.dvc/cache/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
